# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Model files
*.pkl
*.h5
*.pt
*.joblib

# Dataset
data/
*.csv

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Large files
*.zip
*.tar